<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link href="http://fonts.googleapis.com/css?family=EB+Garamond"
        rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300"
        rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="/static/default.css" rel="stylesheet" type="text/css" />
        <meta name="author" content="Ian Cordasco">
    </head>

    <body>
        <h1>
            {% block header %}{% endblock %}
        </h1>

        {% block extraheader %}{% endblock %}

        <p>
        {% block body %}{% endblock %}
        </p>

        <div id="footer">
            <p>
            &copy; Copyright 2012 - Ian Cordasco.
            <a href="https://github.com/sigmavirus24/subscribed">
                Fork subscribed on GitHub
            </a>
            </p>
        </div>
    </body>
</html>
