{% extends 'base.html' %}

{% block title %}
Subscribed
{% endblock %}

{% block header %}
Subscribed
{% endblock %}

{% block extraheader %}
<h2>
View a user's subscriptions or a repository's subscribers
</h2>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="flashed">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}


{% block body %}
As of this moment, GitHub does not allow you to know who is watching your 
repositories (or anyone's repositories) without accessing the API. This 
website makes that information freely available to you using <a 
    href="http://flask.pocoo.org">Flask</a> and
<a href="https://github.com/sigmavirus24/github3.py">github3.py</a> and a 
minimalistic design.
Simply use a link like <a href="/sigmavirus24/github3.py">this</a> to find the 
subscribers to a repository. Use a link like <a href="/sigmavirus24">this</a> 
to find out what repositories a user is subscribed to.
</p>

<p style="font-size: 120%; text-align: center;"><b>This only works for public 
    repositories.</b></p>

<iframe style="border: 0; margin: 0; padding: 0;"
            src="https://www.gittip.com/sigmavirus24/widget.html"
                    width="48pt" height="22pt"></iframe>


<p>
If you're visiting this site via PythonAnywhere, it will not work.  github3.py 
uses <a href="http://python-requests.org">requests</a> to make calls to the GitHub 
API. As of this moment, requests does not work well with making calls to HTTPS 
sites over a proxy and I cannot afford to upgrade to the premium version of 
PythonAnywhere. Until requests can handle proxies better or I have the funds 
to pay for the premium version, this website will not work.  If you would 
prefer to help with the latter, feel free to GitTip me.<br />
</p>

<p>
If you're visiting this via Heroku, currently I'm keeping this running on one 
instance but it may (if this becomes popular) require more than that and hence 
cost me money. Either way, all monetary support will go towards paying for 
this simple service.
{% endblock %}
