{% extends 'base.html' %}


{% block title %}
Repositories subscribed to by {{ user.login }}
{% endblock %}

{% block header %}
Subscribed
{% endblock %}

{% block extraheader %}
<h2>
Repositories subscribed to by {{ user.login }}
</h2>
{% endblock %}


{% block body %}
{% for repo in user.iter_subscriptions() %}
{{ repo.owner.login }}/{{ repo.name }} - <a 
    href="https://github.com/{{ repo.owner.login }}/{{ repo.name }}">
    https://github.com/{{ repo.owner.login }}/{{ repo.name }}</a><br />
{% endfor %}
{% endblock %}
